@{
    Layout = null;
}
@model FriendsTown.Models.ProductViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <h4>Product Information</h4>
    <br />
    Code: @Model.Code <br />
    Name: @Model.Name <br />
    Price: @Model.Price <br />
</body>
</html>
